{% import 'macros/helpers.html.twig' as helpers %}
{% extends 'base.html.twig' %}
{% set breadcrumbs = [
    {label: 'Contracts', url: '/contracts/'},
    {label: contract.id},
] %}

{% block content %}
<aside class="contract-list">
    {{ include('partials/contracts-list-brief.html.twig'
        , {contracts: contracts}) }}
</aside>
<main class="contract-detail">
    {{ include('partials/contract-card.html.twig'
        , {contract: contract}) }}
</main>
{% endblock %}
