{% import "macros/helpers.html.twig" as helpers %}
{% extends 'base.html.twig' %}
{% set breadcrumbs = [
        { label: 'Contracts', url: '.' },
    ]
%}

{% block content %}
<h1>All Contracts</h1>

{% if contracts %}
<div class="game-container">
    <aside>
        {%  include 'partials/contracts-list-brief.html.twig'
            with {'contracts': contracts} %}
    </aside>
    <main>
        <div class="contract-card">
        <p>Select a contract to view details.</p>
        </div>
    </main>
</div>


{% else %}
   <p>No contracts available.</p>
{% endif %}

{% endblock %}

