<table class="ship-cooldown">
    <tr>
        <th>Total</th>
        <th>Remaining</th>
        <th>Expires</th>
    </tr>
    <tr>
        <td>{{ cooldown.totalSeconds|number_format }}</td>
        <td>{{ cooldown.remainingSeconds|number_format }}</td>
        <td>{{ cooldown.expiration.date|date }}</td>
    </tr>
</table>