<table class="ship-cooldown">
    <tr>
        <th>Total</th>
        <th>Remaining</th>
    </tr>
    <tr>
        <td>{{ cooldown.totalSeconds|number_format }}</td>
        <td>{{ cooldown.remaining|number_format }}</td>
    </tr>
</table>