<table class="ship-extract">
    <tr>
        <th>Good</th>
        <th>Units</th>
    </tr>
    <tr>
        <td class="left"><b>{{ extraction.yield .symbol.value|machine2readable }}</td>
        <td>{{ extraction.yield .units }}</td>
    </tr>
</table>