{{ include('partials/ship-cargo-table.html.twig'
    , {cargo_details: cargo},
) }}

<div class="cargo-result">
    {{ include('partials/marketplace-transaction-table.html.twig'
        , {transaction: transaction},
    ) }}
</div>
