{{ include('partials/ship-cooldown-table.html.twig'
    , {cooldown: cooldown},
) }}

{{ include('partials/ship-cargo-table.html.twig'
    , {cargo_details: cargo},
) }}

<div class="order-result">
    {{ include('partials/ship-extraction-table.html.twig'
        , {extraction: extraction},
    ) }}
</div>
