{% extends 'base.html.twig' %}



{% block content %}

    <h1>{{ system }}</h1>


    <div id="system-map" class="system-map"></div>
{% endblock %}

{% block footerScripts %}
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <script src="/js/system-map.js"></script>
{% endblock %}