:root {
    --color-emphasis: #333;
    --color-emphasis-alt: #efefef;
    --color-alternate: #dedede;
    --color-nav-bg: #369;
    --color-nav: #fff;
    --color-error: #900;
    --color-error-bg:#fee;
}

/* screen layout */
.game-container {
    display: grid;
    grid-template-areas: "game-aside game-main";
    grid-template-columns: max(300px, 25vw) auto;
    grid-gap: 0.5rem;
    aside {
        grid-area: game-aside;
    }

    main {
        grid-area: game-main;
    }
}



body {
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
    padding-top: 0.5rem;
    border-top: 2px solid var(--color-alternate);
}

h3 {
    font-size: 1.25rem;
    margin-top: 0.75rem;
    margin-bottom: 0.125rem;

}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
    font-style: italic;
}

nav.main {
    padding: 0 0 .5rem;
}
nav.main ul {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

nav.main ul > li {
    font-size: 1.5rem;
    background: var(--color-nav-bg);
    padding: 0.5rem 1rem;
}

nav.main ul > li a {
    color: var(--color-nav);
    font-weight:bold;
}

/* from https://www.w3.org/WAI/content-assets/wai-aria-practices/patterns/breadcrumb/examples/css/breadcrumb.css */
nav.breadcrumb {
  padding: 0.8em 1em;
  border: 1px solid hsl(0deg 0% 90%);
  border-radius: 4px;
  background: hsl(300deg 14% 97%);
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 0.25em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
}

nav.breadcrumb [aria-current="page"] {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

table {
    border-collapse: collapse;
    border: 1px solid var(--color-emphasis);
    max-height: 45vh;
    overflow: auto;
    th {
        padding: 0.5rem 1.25rem;
        background-color: var(--color-emphasis);
        color: var(--color-emphasis-alt);
        border: 1px solid white;
    }

    td {
        padding: 0.5rem 0.5rem 0.25rem;
        text-align: center;
        border: 1px solid white;
    }

    th.left, td.left {
        text-align: left;
    }

    th.right, td.right {
        text-align: right;
    }

    th.nowrap, td.nowrap {
        white-space: nowrap;
    }

    tr:nth-child(even) {
      background-color: var(--color-alternate);
    }
}




/* Flex layout for putting children in rows that wrap */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-bottom:1rem;
    align-content: stretch;

    /* Expand children to fill width
     */
    > * {
        flex-grow: 1;
    }
}

/* A simple card to be used with details element*/
.card {
    border-radius: 0 0 .5rem .5rem;
    border: 1px solid var(--color-emphasis);
    padding: 0.5rem 1rem;

    summary::marker {
      color: #fff;
      font-size: 1.2em;
    }

    summary {
        margin: -.5rem -1.05rem 1rem;
        padding: 0.5rem 1rem;
        background-color: var(--color-emphasis);
        color: var(--color-emphasis-alt);
        border-top: none;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .info {
        padding: 0.5rem 0.75rem 0.5rem;

        h3, h4, h4 {
            background-color: var(--color-emphasis-alt);
            margin: 1rem -.75rem 0.5rem;
            padding: 0.5rem 1rem;
        }

        table {
            width: 100%;
            margin: 0.5rem 0;
        }
        ul, ol {
            padding-left: 1.5rem;
            margin-top: 0.25rem;
        }

        ul.tags {
            padding-left: 0;
        }
    }


}

.one-fourth {
    max-width: max(24%, 24vw);
}

.one-third {
    max-width: max(32%, 32vw);
}

.two-thirds {
    max-width: max(65%, 65vw);

}

.one-fifth {
    max-width: max(19%, 19vw);
}

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        background-color: var(--color-alternate);
        padding: 0.5rem 0.5rem 0.25rem;
        text-align: center;
        border-radius: 0.25rem;
        margin-bottom: 0.25rem;
    }
}

#system-map {
    border: 5px inset #ccc;
    background-color: #000;
    width: 100%;
    height: 75vh;
    overflow: auto;
}

.errors:empty {
    display: none;
}

.errors{
    border: 1px solid var(--color-error);
    color: var(--color-error);
    background: var(--color-error-bg);
    padding:1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.well {
    padding: 1rem;
    border: 5px inset #ccc;
    margin: 0.5rem 0 1rem;
}

