{% import "macros/helpers.html.twig" as helpers %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/js/unpoly/unpoly.min.css" />
    <script src="/js/unpoly/unpoly.min.js"></script>

    <link rel="stylesheet" href="/css/style.css"/>
    <title>{{ headTitle }} - SpaceTraders PHP Client</title>
    {% block head %}
    {% endblock %}
</head>
<body>

<nav class="main">
    <ul class="menubar-navigation"
        role="menubar"
        aria-label="Spacetraders Client Navigation">
      <li role="none">
        <a role="menuitem" href="/contracts/">Contracts</a>
      </li>
      <li role="none">
        <a role="menuitem" href="/my/ships">Ships</a>
      </li>
    </ul>
</nav>

{% block breadcrumb %}
    {% include 'partials/breadcrumb.html.twig' %}
{% endblock %}

{% block errors %}
    <div class="errors"></div>
{% endblock %}

    <div id="content" class="content">{% block content %}{% endblock %}</div>


{% block footerScripts %}
{% endblock %}
</body>
</html>
