{% import "macros/helpers.html.twig" as helpers %}
{% extends minimalTemplate ? 'minimal.html.twig' : 'base.html.twig' %}

{% block errors %}
    <div class="errors">
        {{ message }}
    </div>
{% endblock %}