{% import "macros/helpers.html.twig" as helpers %}
{% extends 'base.html.twig' %}

{% block content %}
<div class="game-container">
    <aside>
        <h1>Welcome, Captain</h1>
        <h2>Your Agent</h2>
        {%  include 'partials/agent-table.html.twig'
            with {'agent': agent} %}

        <h2>Ships</h2>
        {% include 'partials/ships-table.html.twig'
            with {'ships': ships} %}
    </aside>
    <main>
        <div class="well">
            <select id="systemsSelect">
                <option value="">Select System</option>
                {{ helpers.select_options(systems) }}
            </select>
            <button onclick="renderSystemMap(document.getElementById('systemsSelect').value)"
            >View System</button>
        </div>

        <div id="system-map"></div>
    </main>
</div>


<h2>Waypoints</h2>
<p>Quickstart suggests viewing your starting location</p>
<h3>View a Waypoint</h3>
<form method="get" action="/systems/waypoint" target="_blank">
    <input type="text"
           placeholder="waypoint symbol"
           name="id"
           required="required">
    <input type="submit" value="Scan">
</form>
<h3>Search For Waypoints</h3>
<p>Trait can be a string like <em>Shipyard</em></p>
<form method="get" action="/systems/waypoint/search" target="_blank">
    <input type="text" value="" name="system" required placeholder="System">
    <input type="text"
           placeholder="traits"
           name="traits" >
    <select name="type">
        <option value="">Any type</option>
        {{ helpers.select_options(types) }}
    </select>
    <input type="submit" value="Search">
</form>

<h3>Sell Goods</h3>
<form action="/ship/sell-goods" target="_blank" method="POST">
    <select name="ship" required>
        <option>--Select Ship--</option>
        {{ helpers.select_options(shipOpts) }}
    </select>
    <select name="good" required>
        <option value="">--Select Trade Good--</option>
        {{ helpers.select_options(cargoTypes) }}
    </select>
    <input type="number" name="units" placeholder="units" required>
    <input type="submit" value="Sell">
</form>
{% endblock %}

{% block footerScripts %}
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
    <script src="/js/system-map.js"></script>
{% endblock %}